openapi: 3.0.0
info:
  title: Inship
  version: '1.0'
  description: |-
    The following documentation describes the current Inship API (version 1).

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  termsOfService: 'https://www.inship.com.au/terms'
  contact:
    url: 'https://www.inship.com.au/contact'
    email: support@inship.com.au
servers:
  - url: 'https://www.inship.io/api/v1'
    description: Inship API Production
  - url: 'https://staging.inship.io/api/v1'
    description: Inship API Staging
paths:
  /insurance/quote:
    get:
      parameters:
        - name: value
          in: query
          schema:
            type: number
            format: float
          description: The insured value of the shipment including freight
          required: true
      responses:
        '200':
          description: Returns an insurance quote for the given insured value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
              examples:
                Example Successful Quote Response:
                  value:
                    insurance_quote:
                      price: '24.08'
        '400':
          description: >-
            Required query parameter and value not provided in the correct
            format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example Invalid Request Response:
                  value:
                    error:
                      timestamp: 1582954269777
                      status: 400
                      errors:
                        - Required float parameter 'value' is not present
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example Unauthorised Request Response:
                  value:
                    error:
                      timestamp: 1582954269777
                      status: 401
                      errors:
                        - You are not authorised to access this resource
      tags:
        - Book
components:
  securitySchemes:
    AuthToken:
      type: apiKey
      description: >
        To make requests to the API, an authentication token is required. This
        can be passed by including the `api_key` HTTP header on all API
        requests.
      name: api_key
      in: header
  schemas:
    Quote:
      title: Insurance Quote
      description: The insurance quote provided.
      type: object
      properties:
        price:
          type: string
          description: Quote for the insured value provided.
    QuoteResponse:
      title: Root Type for QuoteResponse
      description: Represents the successful quote response.
      type: object
      properties:
        insurance_quote:
          $ref: '#/components/schemas/Quote'
    Error:
      title: Error
      description: The error object returned.
      properties:
        timestamp:
          type: integer
          description: Timestamp of the error event.
        status:
          type: integer
          description: Error code
        errors:
          type: array
          description: List of error message in human-readable form
          items:
            type: string
    ErrorResponse:
      title: Root Type for Error
      description: Represents the error response object.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
