openapi: 3.0.0
info:
  title: Inship
  description: |-
    The following documentation describes the current Inship API (version 1).

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  termsOfService: https://www.inship.com.au/terms
  contact:
    url: https://www.inship.com.au/contact
    email: support@inship.com.au
  version: "1.0"
servers:
- url: https://www.inship.io/api/v1
  description: Inship API Production
- url: https://staging.inship.io/api/v1
  description: Inship API Staging
paths:
  /insurance/quote:
    get:
      tags:
      - Book
      parameters:
      - name: value
        in: query
        description: The insured value of the shipment including freight
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: float
      responses:
        "200":
          description: Returns an insurance quote for the given insured value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
              examples:
                Example Successful Quote Response:
                  value:
                    insurance_quote:
                      price: "24.08"
        "400":
          description: Required query parameter and value not provided in the correct
            format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example Invalid Request Response:
                  value:
                    error:
                      timestamp: 1582954269777
                      status: 400
                      errors:
                      - Required float parameter 'value' is not present
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example Unauthorised Request Response:
                  value:
                    error:
                      timestamp: 1582954269777
                      status: 401
                      errors:
                      - You are not authorised to access this resource
components:
  schemas:
    QuoteResponse:
      title: Root Type for QuoteResponse
      type: object
      properties:
        insurance_quote:
          $ref: '#/components/schemas/Quote'
      description: Represents the successful quote response.
    Quote:
      title: Insurance Quote
      type: object
      properties:
        price:
          type: string
          description: Quote for the insured value provided.
      description: The insurance quote created.
    ShipmentRequest:
      title: Shipment Request
      type: object
      properties:
        price:
          type: string
          description: Quote for the insured value provided.
      description: The insurance quote provided.
    ErrorResponse:
      title: Root Type for Error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      description: Represents the error response object.
    Error:
      title: Error
      properties:
        timestamp:
          type: integer
          description: Timestamp of the error event.
        status:
          type: integer
          description: Error code
        errors:
          type: array
          description: List of error message in human-readable form
          items:
            type: string
      description: The error object returned.
  securitySchemes:
    AuthToken:
      type: apiKey
      description: |
        To make requests to the API, an authentication token is required. This can be passed by including the `api_key` HTTTP header on all API requests.
      name: api_key
      in: header
